* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Barlow Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  cursor: none;
}

/*CURSOR AND LINK ANIM TOOLS*/

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: 100% 100%;
  z-index: 9;
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  backdrop-filter: blur(2px);
}

/*JS classes*/

.link-grow {
  transform: scale(2);
}

/*BACKGROUND AND PARENT CONTAINER*/

#hero {
  min-height: 100vh;
  min-width: 966px;
  background: linear-gradient(to right top, rgb(238, 160, 87), rgb(39, 47, 82));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.glass {
  position: relative;
  background: white;
  min-height: 80vh;
  width: 60%;
  min-width: 966px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 8;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1, .circle2, .circle3 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
  z-index: 2;
  background: linear-gradient(to right top, rgb(238, 160, 87), rgb(94, 116, 212));
}
.circle2 {
  bottom: 5%;
  left: 10%;
  z-index: 2;
  background: linear-gradient(to left top, rgb(238, 160, 87), rgb(94, 116, 212));
}
.circle3 {
  bottom: -70%;
  right: 11%;
  z-index: 2;
  background: linear-gradient(to left top, rgb(238, 235, 87), rgb(94, 116, 212));
}
.circle4 {
  position: absolute;
  top: 170%;
  left: 30%;
  z-index: 2;
  background: white;
  background: linear-gradient(to left top, rgb(50, 80, 252), rgba(218, 255, 7, 0.5));
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
}

/*DASHBOARD TAB*/

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  padding: 3rem;
  color: #585555;
}

.home-button {
  top: 3rem;
  left: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
  padding: 3rem;
}
.home-button a {
  text-decoration: none;
  color: black;
}
.home-button a:hover {
  color: rgb(46, 42, 102);
  transition: 0.3s;
}
.home-button i:hover {
  color: #a55e0dbd;
  transition: 0.3s;
}

.user h3 {
  padding: 0.5rem;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
}
.user p {
  padding: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #413e3e;
}
.user p:hover {
  font-weight: 510;
  color: #47220b;
  transition: 0.5s;
}
.user img {
  max-height: 90%;
  max-width: 90%;
  clip-path: circle();
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  justify-content: center;
}
.link i:hover {
  color: rgb(39, 47, 82);
  transition: 1.5s;
}
.link i {
  color: black;
  font-size: 5rem;
  color: rgba(233, 144, 60, 0.712);
}
.link i h2 {
  padding-top: 1.4rem;
  font-size: 1.5rem;
  color: #413e3e;
}
.link i h2:hover {
  color: rgb(238, 160, 87);
  transition: 1s;
}


/*SKILLS TAB*/

.skills {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 1000px;
}
.card {
  width: 80%;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1rem 0;
  transform-style: preserve-3d;
}
.card img {
  max-height: 60%;
  max-width: 60%;
  transition: all 0.75s ease-out;
}
.content p, .content h3 {
  font-size: 1.5rem;
  padding: 1rem 0rem;
  color: #2c2a2a;
  font-weight: 600;
  transition: all 0.75s ease-out;
}

/*RESPO ALL*/

@media screen and (max-width: 768px) {
  body {
    zoom: 1;
  }
  #hero, .glass, .skills, .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 125%;
  }
  .circle1, .circle2, .circle3, .circle4 {
    display: none;
  }
  .card {
    display: none;
  }
  .user p {
    padding: 5rem;
  }
  .home-button {
    font-size: 125%;
  }
}