* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Barlow Condensed', sans-serif;
  text-rendering: optimizeLegibility;
}
/*BACKGROUND AND PARENT CONTAINER*/

#hero {
  min-height: 100vh;
  min-width: 966px;
  background: linear-gradient(to right top, rgb(238, 160, 87), rgb(39, 47, 82));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  min-width: 966px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 10;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1, .circle2, .circle3 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
  z-index: 2;
}
.circle2 {
  bottom: 5%;
  left: 10%;
  z-index: 2;
}
.circle3 {
  bottom: -70%;
  right: 11%;
}
/*DASHBOARD TAB*/

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  padding: 3rem;
}

.home-button {
  top: 3rem;
  left: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 3rem;
}
.home-button a {
  text-decoration: none;
  color: black;
}

.user h3 {
  padding: 0.5rem;
}
.user p {
  color: black;
  padding: 1.5rem;
}
.user img {
  max-height: 80%;
  max-width: 80%;
  clip-path: circle();
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

/*SKILLS TAB*/
.skills {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 1000px;
}
.card {
  width: 80%;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1rem 0;
  transform-style: preserve-3d;
  
}
.card img {
  max-height: 60%;
  max-width: 60%;
  transition: all 0.75s ease-out;
}
.content p, .content h3 {
  font-size: 1.2rem;
  padding: 1rem 0rem;
  color: #585858;
  font-weight: 600;
  transition: all 0.75s ease-out;
}
/*RESPO ALL*/
@media screen and (max-width: 768px) {
  #hero, .glass, .skills, .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 125%;
  }
}