* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Barlow Condensed', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }

  :root {
    --main-font-color : whitesmoke;
    --main-background-color : black;
    --secondary-background-color: rgba(79, 112, 202, 0.7);
    --main-hover-color : rgba(80, 90, 225, 0.65);
    --light-hover-color : rgba(119, 125, 212, 0.767);
  }
  

  body {
    font-family:'Barlow Condensed', sans-serif;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    min-width: 100vw;
      background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/projectsbg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

 
  nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 8vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  }
  .nav-links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    display: block;
    padding: 1em;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 900;
    color: var(--main-background-color);
    text-decoration: none;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }

  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: var(--main-font-color);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

  .nav-links li:hover {
    transform: scale(1.2);
    font-weight: 1000;
    transition: .4s;
  }

  @media screen and (max-width: 768px) {
    nav {
      background: var(--main-background-color);
      position: relative;
      max-width: 100%;
      max-height: 10vh;
      padding: 0;
    }

    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }

    .nav-links {
      position: absolute;
      display: inline-block;
      background: var(--main-background-color);
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      clip-path: circle(50px at 90% -10%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 2s ease-out;
      pointer-events: none;
    }
    .nav-links a {
      letter-spacing: 5px;
      font-size: 20px;
      font-weight: 300;
      color: var(--main-font-color);
    }
    .nav-links.open {
      clip-path: circle(700px at 90% -10%);
      -webkit-clip-path: circle(80vh at 90% -10%);
      pointer-events: all;
      justify-content: space-between;
      padding: 5rem 3rem 15rem 0rem;
    }
    .nav-links li {
      margin-left: 75%;
      opacity: 0;
      color: var(--main-font-color);
      z-index: 8;
      padding: 1rem;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }

/*Projects*/
@media screen and (max-width: 768px) {
  html,body{
    overflow-x: hidden;
  }
}
/*For All*/

.smallNav {
  position: fixed;
  top: 15%;
  right: 10%;
  width: 10vw;
}

.desNav, .froNav {
  border-radius: 10px;
  padding: 0.3rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}
.desNav:hover, .froNav:hover {
  transition: 0.3s ease-in-out;
  background: rgba(241, 152, 51, 0.9);
  box-shadow: 1px 1px #131313;
}

.smallNav a {
  text-decoration: none;
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .smallNav {
    position: absolute;
    margin: 2rem;
  }
}


.projects h5 {
  color: var(--main-font-color);
  background-size: 100%;
  margin-bottom: 5rem;
}
    
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 0;
  }
  .dprojects h5 {
    color: var(--main-font-color);
    background-size: 100%;
    margin-bottom: 5rem;
  }
  .xdprojects h5 {
    color: var(--main-font-color);
    background-size: 100%;
    margin-bottom: 5rem;
  }
      
  .dprojects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 3rem 0;
    }

  .projects__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .dprojects__wrapper {
    display: grid;
    margin: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  
  .projects__card {
    position: relative;
    margin: 10px;
    height: 530px;
    width: 370px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    transition: 0.3s ease-in;
    padding-top: 100px;
  }
  .dprojects__card {
    position: relative;
    margin: 10px;
    height: 720px;
    width: 360px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    transition: 0.3s ease-in;
    padding-top: 100px;
  }
  .xdprojects__card {
    position: relative;
    margin: 5px;
    height: 750px;
    width: 1100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    transition: 0.3s ease-in;
    padding-top: 100px;
  }

  .projects__card h2 {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .dprojects__card h2 {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .xdprojects__card h2 {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #overlay {
    height: 100%;
    width: 100%;
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10rem;
    transition: 1s ease-in-out;

  }
  #xdoverlay {
    height: 100%;
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10rem;
    transition: 1s ease-in-out;

  }
  #overlay:hover {
    opacity: 1;
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .projects__card p {
    text-align: center;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 500;
  }
  .dprojects__card p {
    text-align: center;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 500;
  }
  .xdprojects__card p {
    text-align: center;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 500;
  }
  .projects__card p i {
    color: var(--main-font-color);
    font-size: 65px;
    padding: 15px;
    margin: 0;
    display: inline-block;
  }
  .dprojects__card p i {
    color: var(--main-font-color);
    font-size: 65px;
    padding: 15px;
    margin: 0;
    display: inline-block;
  }

  .projects__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .projects__btn2 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .projects__card button {
    color: #fff;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  .dprojects__card button {
    color: #fff;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  .xdprojects__card button {
    color: #fff;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .projects__card button:hover {
    cursor: pointer;
  }
  .projects__card:hover {
    transform: scale(1.075);
    transition: 0.4s ease-in-out;
    padding-top: 0;
    background: linear-gradient(to right bottom, rgba(241, 152, 51, 0.9), rgba(255, 255, 255, .7));
  }
  .dprojects__card button:hover {
    cursor: pointer;
  }
  .xdprojects__card button:hover {
    cursor: pointer;
  }
  .dprojects__card:hover {
    transform: scale(1.075);
    transition: 0.4s ease-in-out;
    padding-top: 0;
    background: linear-gradient(to right bottom, rgba(241, 152, 51, 0.9), rgba(255, 255, 255, .7));
  }

  @media screen and (max-width: 1500px) {
    .dprojects__wrapper {
      overflow-x: hidden;
      max-width: 80%;
      grid-template-columns: 1fr;
    }
      .xdprojects__card {
        position: relative;
        margin: 5px;
        height: 700px;
        width: 768px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        transition: 0.3s ease-in;
        padding-top: 100px;
      }
      .xdpic img { 
        width: 600px;
        padding: 1rem 2rem
      }
    
  }
  
  @media screen and (max-width: 1300px) {
    .projects__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 867px) {
    .projects__wrapper {
      grid-template-columns: 1fr;
    }
 
    .xdprojects__card {
      position: relative;
      margin: 5px;
      height: 400px;
      width: 360px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
      transition: 0.3s ease-in;
      padding-top: 100px;
    }
    .xdpic img { 
      width: 300px;
      padding: 1rem 2rem
    }
  }

/*For Spec*/
.projects h1 {
  color: var(--main-font-color);
  background-size: 100%;
  font-size: 2.5rem;
}
.dprojects h1 {
  color: var(--main-font-color);
  background-size: 100%;
  font-size: 2.5rem;
}
.xdprojects h1 {
  color: var(--main-font-color);
  background-size: 100%;
  font-size: 2.5rem;
}

#designH1 {
  margin: 5rem;
}

#frontendH1 {
  margin-bottom: 2rem;
}

.h1despic {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.h1despic:first-child {
  padding-top: 1rem;
}
.h1despic img {
  max-height: 150px;
  max-width: 150px;
}

.despic {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;

}
.despic img {
  max-height: 150px;
  max-width: 150px;
}
.despicxd {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}
.despicxd img {
  max-height: 300px;
  max-width: 300px;
}
.xdpic {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;

}
.xdpic img {
  max-height: 600px;
  max-width: 1000px;
}


.desNav2 {
opacity: 0;
margin: 2rem;
width: 150px;
background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
border-radius: 6px;
}
.desNav2 a {
  text-decoration: none;
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.desNav2:hover {
  transition: 0.3s ease-in-out;
  background: rgba(241, 152, 51, 0.9);
  box-shadow: 1px 1px #131313;
}
@media screen and (max-width: 768px) {
  .desNav2 {
    opacity: 1;
    position: relative;
  }
}


/* Footer */


.footer__container {
  background: linear-gradient(to top, #f17f33, rgb(0, 0, 0));
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: var(--main-font-color);
}

.footer__link--items a, .footer__link--items i {
  color: var(--main-font-color);
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
  cursor: pointer;
}
.footer__last i {
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
  cursor: pointer;
  font-size: 26px;
}

.footer__link--items a:hover {
  color: rgba(241, 152, 51, .9);
  font-size: 21px;
  font-weight: 700;
  transition: 0.8s;
}
.footer__link--items i:hover {
  color: rgba(241, 152, 51, .9);
  font-size: 21px;
  transition: 0.8s;
}
.footer__link--items h2:hover {
  color: rgba(241, 152, 51, .9);
  font-size: 23px;
  transition: 0.8s;
}
#socmed:hover {
  color: var(--main-font-color);
  font-size: 16px;
  cursor: unset;
}  
#socmed h2:hover {
  color: var(--main-font-color);
  font-size: 24px;
  cursor: unset;
}
.footer__last i:hover {
  font-size: 22px;
  transition: 0.8s;
  cursor: pointer;
  color: var(--main-font-color);
  font-size: 28px;
}

.social__icon--link {
  color: var(--main-font-color);
  font-size: 24px;
}

.home__cr {
  max-width: 1000px;
  width: 100%;
}

.home__cr--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.website__rights {
  color: black;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__last {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .home__cr--wrap {
    flex-direction: column;
    padding: 20px;
    justify-content: center;

  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}