
:root {
    --acolor: #f9032f;
    --bcolor: #000;
    --ccolor: #fff;
    --main-font-color : whitesmoke;
    --main-background-color : black;
    --secondary-background-color: rgba(79, 112, 202, 0.7);
    --main-hover-color : rgba(80, 90, 225, 0.65);
    --light-hover-color : rgba(119, 125, 212, 0.767);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/*NAV*/
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 8vh;
    background: black;
  }
  .nav-links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    display: block;
    padding: 1em;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: var(--main-font-color);
    font-family:'Barlow Condensed', sans-serif;
    text-decoration: none;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }

  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: var(--main-font-color);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

  .nav-links li:hover {
    transform: scale(1.2);
    font-weight: 1000;
    transition: .4s;
  }

  @media screen and (max-width: 768px) {
    nav {
      background: var(--main-background-color);
      position: relative;
      max-width: 100%;
      max-height: 10vh;
      padding: 0;
    }

    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }

    .nav-links {
      position: absolute;
      display: inline-block;
      background: var(--main-background-color);
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      clip-path: circle(50px at 90% -10%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 2s ease-out;
      pointer-events: none;
    }
    .nav-links a {
      letter-spacing: 5px;
      font-size: 20px;
      font-weight: 300;
      color: var(--main-font-color);
    }
    .nav-links.open {
      clip-path: circle(700px at 90% -10%);
      -webkit-clip-path: circle(80vh at 90% -10%);
      pointer-events: all;
      justify-content: space-between;
      padding: 5rem 3rem 15rem 0rem;
    }
    .nav-links li {
      margin-left: 75%;
      opacity: 0;
      color: var(--main-font-color);
      z-index: 8;
      padding: 1rem;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }

/*Animation*/

@keyframes anim1 {
    from {
        transform: translateY(-70px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes anim2 {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes anim3 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*IMG SLIDER*/
#sld,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../../Design/xdexample.png");
}
.slide2 {
  background-image: url("../../Design/glassPlanet.png");
}
.slide3 {
  background-image: url("../../Design/happyFire.png");
}
.slide4 {
  background-image: url("../../Design/saurBanner-01.png");
}
.slide5 {
  background-image: url("../../Design/webBannerPsBrushes.png");
}
.slide6 {
  background-image: url("../../Design/webBannerSales.png");
}
.slide7 {
  background-image: url("../../Design/colorSplashBanner.png");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent gray transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent gray;
  right: 0;
  margin-right: 30px;
}

/*GRID*/
.grid__net {
    padding: 8rem  calc((100vw - 1200px) / 2);
}
.grid__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}
.grid__card {
    margin: 1rem;
    border-radius: 10px;
    position: relative;
}
.grid__text {
    padding: 1rem;
    opacity: 0;
}
.grid__text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.grid__desc {
    font-size: clamp(1rem, 3vw, 1.3rem);
    line-height: 1.4;
}
.grid__desc a {
    text-decoration: none;
    font-weight: 700;
    color: cadetblue;
}
.grid__card p {
    position: absolute;
    bottom: 30px;
    color: var(--ccolor);
    left: 25px;
    font-size: 3rem;
}
.grid__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    align-content: center;
}

.grid__text:nth-child(1) {
  grid-row: 1 /3;
  grid-column: 2 /3;
}
.grid__text:nth-child(2) {
  grid-row: 5 /6;
  grid-column: 1 /2;
}
.grid__card:nth-child(3) {
  grid-row: 1 /3;
  grid-column: 1 /2;
}
.grid__card:nth-child(4) {
  grid-row: 2 /4;
  grid-column: 2 /3;
}
.grid__card:nth-child(5) {
  grid-row: 3 /5;
  grid-column: 1 /2;
} 
.grid__card:nth-child(6) {
  grid-row: 4 /6;
  grid-column: 2 /3;
}

/* if there are more grid, the values are different so below a second version 

.grid__text:nth-child(1) {
    grid-row: 1/2;
    grid-column: auto;
}
.grid__text:nth-child(2) {
    grid-row: 5 /6;
    grid-column: 1 /2;
}
.grid__card:nth-child(3) {
    grid-row: 1 /3;
    grid-column: 1 /2;
}
.grid__card:nth-child(4) {
    grid-row: 2 /4;
    grid-column: 2 /3;
}
.grid__card:nth-child(5) {
    grid-row: 4 /5;
    grid-column: 1 /2;
} 
.grid__card:nth-child(6) {
    grid-row: 4 /6;
    grid-column: 2 /3;
}
*/
/* unused grid for a different page layout
.grid__card:nth-child(7) {
  grid-row: 8 /9;
  grid-column: 1 /2;
}
.grid__card:nth-child(8) {
  grid-row: 8 /9;
  grid-column: 1 /2;
}
.grid__card:nth-child(9) {
  grid-row: 7 / 8;
  grid-column: 1 /2;
}
.grid__card:nth-child(10) {
  grid-row: 8 /7;
  grid-column: 2 /3;
}
.grid__card:nth-child(11) {
  grid-row: 9 /8;
  grid-column: 2 /3;
} 
*/

@media screen and (max-width: 768px) {
    .grid__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;    
    }
    .grid__text:nth-child(1) {
      grid-row: 1 /2;
      grid-column: 1 /2;
  }
  .grid__text:nth-child(2) {
      grid-row: 6 /7;
      grid-column: 1 /2;
  }
  .grid__card:nth-child(3) {
      grid-row: 3 /4;
      grid-column: 1 /2;
  }
  .grid__card:nth-child(4) {
      grid-row: 4 /5;
      grid-column: 1 /2;
  }
  .grid__card:nth-child(5) {
      grid-row: 5 /6;
      grid-column: 1 /2;
  } 
  .grid__card:nth-child(6) {
      grid-row: 2 /3;
      grid-column: 1 /2;
  }

/* if there are more grid, the values are different so below a second version 
    .grid__text:nth-child(1) {
        grid-row: 1 /2;
        grid-column: 1 /2;
    }
    .grid__text:nth-child(2) {
        grid-row: 6 /7;
        grid-column: 1 /2;
    }
    .grid__card:nth-child(3) {
        grid-row: 3 /4;
        grid-column: 1 /2;
    }
    .grid__card:nth-child(4) {
        grid-row: 4 /5;
        grid-column: 1 /2;
    }
    .grid__card:nth-child(5) {
        grid-row: 5 /6;
        grid-column: 1 /2;
    } 
    .grid__card:nth-child(6) {
        grid-row: 2 /3;
        grid-column: 1 /2;
    }
    */
    /* unused grid for a different page layout

    .grid__card:nth-child(7) {
      grid-row: 7 /8;
      grid-column: 1 /2;
    }
    .grid__card:nth-child(8) {
      grid-row: 8 /9;
      grid-column: 1 /2;
    }
    .grid__card:nth-child(9) {
      grid-row: 9 / 10;
      grid-column: 1 /2;
    }
    .grid__card:nth-child(10) {
      grid-row: 10 /11;
      grid-column: 1 /2;
    }
    .grid__card:nth-child(11) {
      grid-row: 11 /12;
      grid-column: 1 /2;
    } 
  */    

  }
