  
/* Reset START*/
  html {box-sizing: border-box;}
    * {margin : 0; padding : 0;}
    *, *:before, *:after {box-sizing : inherit;}
    * {scroll-behavior: smooth;}

/* Reset END*/

:root {
  --main-font-color : whitesmoke;
  --main-background-color : black;
}

/* Scroll bar START*/

::-webkit-scrollbar {
  width: 10px;
  background: black;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(rgba(96, 174, 238, 0.35), black);
}

/* Scroll bar END*/

/* Landing form START */

  body {
    font-family:'Barlow Condensed', sans-serif;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
  }
  nav {
    height: 7vh;
    background: rgba(0, 0, 0);  
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    margin-left: auto;
    padding-top: 1%;
  }
  .nav-links li a {
    font-size: 18px;
    letter-spacing: 3px;
    color: var(--main-font-color);
    text-decoration: none;
  }
  .nav-links li:hover {
    transform: scale(1.2);
    font-weight: 450;
    transition: .1s;
  }
  .background {
    position: relative;
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;   
    background: var(--main-background-color);
  }
  .background video {
    position: absolute;
    height: 100%; 
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .myname {
    position: absolute;
    color: var(--main-font-color);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2.7px;
    left: 10%;
    top: 28%;
    transform: translate(-20%, -70%);
  }
  h1 span {
    text-transform: uppercase;
    font-size: 27px;
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: var(--main-font-color);
      margin: 5px;
    }
    nav {
      position: relative;

    }
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 10;
    }
    .nav-links {
      position: relative;
      background: var(--main-background-color);
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 10;

    }
    .nav-links li a {
      letter-spacing: 5px;
      font-size: 20px;
      font-weight: 300;
    }
    .nav-links.open {
      clip-path: circle(680px at 90% -10%);
      -webkit-clip-path: circle(680px at 90% -10%);
      pointer-events: all;
      justify-content: space-evenly;
      padding: 0rem 3rem 15rem 0rem;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      margin-left: 75%;
      opacity: 0;
      color: whitesmoke;
      z-index: 8;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
    .myname {
      margin-left: 0rem;
      padding: 11rem 2rem 0rem 0rem;
      opacity: 0.47;
      display: flex;
      flex-direction: column;
      max-width: 100px;
      z-index: 10;
    }
  }

/* Landing form END*/

/* Contact form START*/

#contact-section {
  min-height: 100vh;
  color: whitesmoke;
  background: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contact-links .email-box {
  flex: 1;
}
.contact-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  line-height: 65px;
  padding-left: 30px;
}
.contact-links li {
  list-style: none;
  margin-right: 20px;
}
.Me {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10%;
}
.contact-links i {
  background: black;
  color: rgba(194, 233, 243, 0.822);
  margin-left: 10px;
  font-size: 40px;
}
.contact-links i:hover {
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
  color: rgba(54, 184, 207, 0.83);
  transform: scale(1.3) rotate(2deg);
  transition: 0.4s;
}
.email-box {
  max-width: 700px;
  margin-right: 50px; 
}
.email-box h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: rgba(54, 184, 207, 0.83);
}
.email-box .email-contact .text-box {
  background: rgba(9, 123, 143, 0.555);
  color: whitesmoke;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(255, 253, 253, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}
[name="name"] {
  margin-right: 15px;
}
.email-contact textarea {
  background: rgba(9, 123, 143, 0.5);
  color: whitesmoke;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(255, 253, 253, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}
#email-button {
  float: right;
  background: rgba(9, 123, 143, 0.5);
  color: whitesmoke;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#email-button:hover {
  background: rgba(54, 184, 207, 0.83);
}
.email-contact textarea:hover {
  background: rgba(54, 184, 207, 0.65);
  transition: 0.5s;
}
.email-contact .text-box:hover {
  background: rgba(54, 184, 207, 0.65);
  transition: 0.5s;
}
.pagetop i {
  position: absolute;
  left: 5%;
  bottom: -97%;
  right: 92%;
  font-size: 40px;
  cursor: pointer;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0);
}
.pagetop i:hover {
  transform: scale(1.5) rotate(180deg);
  transition: .3s;
  color: red;
}

@media screen and (max-width: 768px) {
  #contact-section {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .Me {
    font-size: 30px;
  }
  .email-box .email-contact {
    width: 100%;
    margin: 10px;
    padding-left: 30px;
  }
  .email-box h2 {
    margin-left: 40px;
  }
  .contact-links i:hover {
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgba(54, 184, 207, 0.83);
    transform: scale(1.1) rotate(-2deg);
    transition: 0.4s;
  }
  .pagetop i {
    font-size: 27px;
    transform: rotate(180deg);
  }
  .pagetop i:hover {
    transform: scale(1.3) rotate(180deg);
    color: cadetblue;
    transition: .3s;
  }
}

/* Contact form END*/
/*Footer START*/

footer {
  max-height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/footer1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
  padding-top: 3%;
}
footer span {
  max-width: 33%;
  align-self: center;
}
.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer-links li, .footer-social li {
  list-style: none;
  padding-left: 10%;
  max-width: 33%;
}
.footer-social li {
  line-height: 15px;
}
.footer-links li {
  line-height: 25px;
}
.footer-links ul li a, .footer-social ul li a, footer span {
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
}
.footer-social {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.footer-links, .footer-social, footer span {
  flex: 1;
}
.footer-social li p {
  font-size: 12px;
  color: whitesmoke;
  text-transform: uppercase;
}
.footer-social li a:hover {
  color: cadetblue;
  transition: .4s ease;
}
.footer-links li a:hover {
  color: cadetblue;
  transition: .4s ease;
}
